<h1>Please Select your Pokemon</h1>

<form action='/pokemon' method="post">
    Pokemon Name<br>
    <input type="text" name="name"><br>
    Pokemon Type<br>
    <input type="text" name="type">
    <input type="submit" id="submit" value="submit">

</form>
