<h1>Please Select your Pokemon</h1>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <img src="https://assets.pokemon.com/assets/cms2/img/misc/_tiles/spotlight/professor-oak/pcom-spotlight-prof-oak-169.jpg">
   </body>
</html>
<%if current_user == @pokemon.trainer%>
<form action='/pokemon' method="post">
    Pokemon Name<br>
    <input type="text" name="name"><br>
    Pokemon Type<br>
    <input type="text" name="type">
    <input type="submit" id="submit" value="submit">

</form><br>

<form  method="get" action="/trainers/<%=current_user.id%>">
    <input type="submit" id="submit" value="Back">

</form>
<%end%>

