<h1>Welcome to the world of Pokemon</h1>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <img src="https://imgix.kotaku.com.au/content/uploads/sites/3/2014/10/21/exuqwnakdc44qjhrktip.png?ar=16%3A9&auto=format&fit=crop&q=80&w=1280&nrs=40" width="800">
   </body>
</html>
<h4>Please <a href="/signup"> Sign up</a> or <a href="/login">Log in</a> to access your Pokemon</h4>