<% if flash[:errors] %>
<h3 style="color:red;"><%= flash[:errors] %>
<% end %>

<h1>Sign Up to become a new Pokemon Trainer</h1>
<!DOCTYPE html>
<html>
   <head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <div class = "signup"><img src="https://pm1.narvii.com/6139/c2f328a370cc8ffc073b13320e8291dfb8c21761_hq.jpg" width="300"
         height="200"></div><br>
   </body>
</html>

<form action "/signup" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit"><br><br>
    If you already have an account please login below <br>
    <a href="/login">login</a>
</form>
