<% if flash[:errors] %>
<h3 style="color:red;"><%= flash[:errors] %>
<% end %>

<h1>Log into your Pokemon App</h1>

<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button id="submit" type="submit">Login</button><br><br>
    If you do not already have an account then please Signup here<br>
    <a href="/signup">Sign up</a>
    


</form>
