<h1>Log into your Pokemon App</h1>

<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <button id="submit" type="submit">Login</button>
</form>
