
<h1>Welcome, <%=@trainer.username%></h1>
<h2>Here are your current Pokemon</h2>

<head>
      <title>HTML img Tag</title>
   </head>

   <body>
      <div class = "ash"><img src="https://i.imgur.com/vg5wc7r.png" width="200" height="200" ></div><br>
   </body>
</html>


<%@trainer.pokemon.each do |pokemon|%>
    Name:<%=pokemon.name%><br>
    Type:<%=pokemon.pokemon_type%>    <%if current_user == pokemon.trainer%><a href="/pokemon/<%=pokemon.id%>/edit">Edit</a><br><br><br><br>
    <a href="/pokemon/new">Create a new Pokemon</a>
<%end%><br>
<%end%>

<a href="/logout">Log out</a>